{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.instagram.com/emerson_vicosa/?hl=pt-br" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
        <a href="https://github.com/Emerson018" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github.png' %}" alt="ícone github">
        </a>
        
        
    </div>
    <p class="rodape__texto">Desenvolvido por Sayrix</p>
</footer>