{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.instagram.com/emerson_vicosa/?hl=pt-br" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone Instagram">
        </a>
        <a href="https://github.com/Emerson018" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github.png' %}" alt="ícone Github">
        </a>
        <a href="https://trello.com/b/AsODQbOx/leroy-projeto" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/trello.png' %}" alt="ícone Trello">
        </a>
        <a href="https://www.linkedin.com/in/emerson-vi%C3%A7osa-de-lima-1b51041ba/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="ícone Linkedin">
        </a>
        
    </div>
    <p class="rodape__texto">Desenvolvido por Sayrix</p>
</footer>