{% load static %}
<main class="principal">
    
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                <a href="{% url 'lista' %}"><img src="{% static '/assets/ícones/1x/adicionar.png' %}"> Adicionar Produto</a>
                <a href="{% url 'dados' %}"><img src="{% static '/assets/ícones/1x/bancos-de-dados.png' %}"> Banco de dados</a>
                <a href="{% url 'testes' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - ativo.png' %}"> TESTES</a> 
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuário
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/entrar.png' %}"> Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'register' %}"><img src="{% static '/assets/ícones/1x/registrar.png' %}"> Registrar</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/saida.png' %}"> Logout</a></li>
                  </ul>
                </li>                 
            </nav>
        </section>