{% load static %}
<main class="principal">
    
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                <a href="{% url 'lista' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Adicionar Produto</a>
                <a href="{% url 'dados' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Banco de dados</a>
                <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Login</a>
                <a href="{% url 'register' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Registrar</a>
                <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Logout</a>
                <a href="{% url 'testes' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> TESTES</a>                  
            </nav>
        </section>