{% load static %}

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static '/styles/style_mlk.css' %}">
            <link rel="stylesheet" href="{% static '/styles/style.css' %}">
            <title>Página de Login</title>
        </head>
        <body>
            <div class="main-login">
                <div class="left-login">
                    <h1>Faça login<br>para ter acesso aos dados</h1>
                    <img src="{% static '/assets/imagens/galeria/mlk.svg' %}" class="left-login-image" alt="mlk">    
                </div>     
                <div class="rigth-login">
                    <div class="card-login">
                        <h1>LOGIN</h1>
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="textfield">
                                {% for field in form.visible_fields %}
                                    <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{ field.label }}  </label>
                                    {{ field }}        
                                {% endfor %}
                            </div>
                            <div class="textfield"></div>
                            <button class="btn-login" type="submit" >Logar</button>
                        </form>
                    </div>
                </div>
            </div>
        </body>
    </html>
{%include 'partials/_footer_login.html' %}