{% extends 'produtos/base.html' %}
{% load static %}
{% block content %}

<section>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">CÓDIGO</th>
                <th scope="col">DESCRIÇÃO</th>
                <th scope="col">PREÇO</th>
                <th scope="col">LINK</th>
                <th scope="col">Avaliações</th>
                <th scope="col">Média Avaliações</th>
            </tr>
        </thead>
        <tbody>

            {% if dados %}
            {% for dado in dados %}

            <tr class="table-success">

                <td><a href="{% url 'detalhe_produto' %}?lm={{ dado.lm}}&titulo={{dado.titulo}}&foto={{dado.foto}}" target="_blank">{{ dado.lm }}</a></td>
                <td>{{ dado.titulo }}</td>
                <td>{{ dado.preco }}</td>
                <td><a href="{{ dado.link }}" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i></a></td>
                <td>{{ dado.avaliacoes }}</td>
                <td>{{ dado.media_avaliacoes }}</td>
            </tr>

            {% endfor %}
            {%endif%}

        </tbody>
    </table>
</section>
</div>

{% endblock %}