{% extends 'produtos/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if foto %}
                            <img class="card__imagem" src="{{ foto }}" alt="foto">                        
                        {% else %}
                            <img class="card__imagem" src="{% static '/assets/imagens/galeria/Image_not_available.png' %}" alt="foto">
                        {% endif %}    
                        <div class="product__info">
                            <h2>Título: {{ titulo }}</h2>
                            <p>LM: {{ lm }}</p>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}