{% extends 'produtos/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                       {% if dado.foto %}
                            <img class="imagem__imagem" src="{{ dado.foto.url }}" alt="foto">
                        {% else %}
                            <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/Image_not_available.png' %}">
                        {% endif %}
                        <div class="product__info">
                            <h2>Título: {{ titulo }}</h2>
                            <p>LM: {{ lm }}</p>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}