{% extends 'produtos/base.html' %}
{% load static %}
{% block content %}
                        <div>
                            <form method="post" class="mt-3">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Buscar Título</button>
                            </form>

                            {% if title %}
                            <h2 class="mt-3">TÍTULO do Produto:</h2>
                            <p class="lead">{{ title }}</p>
                            <p></p>
                            <h2 class="mt-3">LM do Produto:</h2>
                            <p class="lead">{{ lm }}</p>
                            <p></p>
                            <h2 class="mt-3">PREÇO do Produto:</h2>
                            <p class="lead">{{ preco }}</p>
                            {% endif %}
                            


                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}